.Home {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5;
}


.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.home-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



